p {
  font-weight: 300;
  margin-top: 0px;
}

h2 {
  display: inline;
  font-weight: 300;
}
body {
  background: linear-gradient(180deg, #675aff 0%, #b9d5ff 100%);
}
.weather-main {
  list-style: none;
  padding: 0;
  font-weight: 300;
}
.weather-app {
  display: block;
  margin: 20px auto;
  padding: 30px;
  max-width: 500px;
  border: 1px solid #bcbcbc;
  border-radius: 10px;
  background: #fff;
}
.card-body .row {
  text-align: center;
  padding: 0;
}

.card-header {
  font-weight: 300;
}

.temperature {
  font-size: 52px;
}
.units {
  text-align: right;
}
.time {
  opacity: 0.6;
  font-size: small;
}

.footer {
  padding-top: 20px;
  font-family: monospace;
  text-align: right;
}
