p {
  font-weight: 300;
  margin-top: 0px;
}

h2 {
  display: inline;
  font-weight: 300;
}
body {
  background: linear-gradient(180deg, #675aff 0%, #b9d5ff 100%);
}

.container {
  display: flex;
}
.weather-main {
  list-style: none;
  padding: 0;
  font-weight: 300;
}
.weather-app {
  display: block;
  margin: 20px auto;
  padding: 30px;
  max-width: 500px;
  border: 1px solid #bcbcbc;
  border-radius: 10px;
  background: #fff;
}

.temperature {
  font-size: 52px;
}

.time {
  opacity: 0.6;
  font-size: small;
}

.weather-description {
  font-size: 20px;
  font-weight: 500;
}

.weather-forecast {
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #bcbcbc;
  border-radius: 10px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.footer {
  padding-top: 20px;
  font-family: monospace;
  text-align: right;
}
